* {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s all;
}

/* THEME */ 
:root.light {
    --darkblue-color: rgb(45, 61, 103);
    --text-color-darkbg: white;
    --text-color-normalbg: black;
    --background-color: white;
    --background-color2: rgb(231, 231, 231);
    --quote-text: rgb(90, 90, 90);
    --quote-ref: rgb(66, 66, 66);
    --filter-svg: invert(4%) sepia(8%) saturate(264%) hue-rotate(314deg) brightness(97%) contrast(91%);
    --page-width: clamp();
    --border: #dddddd;
}

:root.dark {
    --darkblue-color: rgb(45, 61, 103);
    --text-color-darkbg: white;
    --text-color-normalbg: white;
    --background-color: rgb(66, 66, 66);
    --background-color2: rgb(78, 78, 78);
    --quote-text: rgb(220, 220, 220);
    --quote-ref: rgb(194, 194, 194);
    --filter-svg: invert(100%) sepia(31%) saturate(138%) hue-rotate(192deg) brightness(111%) contrast(80%);
    --border: #343434;
}

.theme {
    transition: all 0.2s;
    position: fixed;
    bottom: 10px;
    left: 10px;
    scale: 0.6;
    filter: var(--filter-svg);
}

.theme:hover {
    cursor: pointer;
    scale: 0.7;
}

.theme:active {
    scale: 0.6;
}
/* THEME */ 



/* NAVBAR */ 
.dropdownimg {
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(334deg) brightness(105%) contrast(101%);
    transition: 0.2s all;
}

.dropdowncontent {
    display: none;
    opacity: 0;
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    top: 35px;
    background-color: var(--darkblue-color);
    padding-top: 10px;
    transition: 0.2s all;
}

.dropdown:hover .dropdowncontent {display: flex; opacity: 1;}

.dropdowncontent a {
    display: block;
    margin: 5px 0;
}

.navbar {
    display: flex;
    gap: 2%;
    padding: 20px 0 13px;
}

.push {
    margin-right: auto;
    color: white;
}

ul, li, a {
    list-style: none;
    margin: 0;
    padding: 0;
}

li, a {
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

a:hover {
    /*color: rgb(178, 178, 178);*/
    filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(285deg) brightness(88%) contrast(91%);
}

a:focus {
    color: rgb(123, 123, 123);
}

.CCPGLogo {
    width: 100%;
    border-radius: 3%;
    object-fit: contain;
    transition: 0.2s all;
    padding-bottom: 40px;
}

.CCPGLogo:hover {
    scale: 1.07;
}

/* NAVBAR */

/* input validation */

.startYear, .endYear, .startValue, .endValue {
    border: 2px solid rgb(0, 0, 67);
    border-radius: 4px;
    transition: 0.2s all;
}

.startYear:invalid, .endYear:invalid, .startValue:invalid, .endValue:invalid {
    border-color: rgb(215, 169, 0);
    border-radius: 4px;
}

.startYear:placeholder-shown, .endYear:placeholder-shown, .startValue:placeholder-shown, .endValue:placeholder-shown {
    border: 2px solid rgb(0, 0, 67);
    border-radius: 4px;
}

/* .startYear:focus, .endYear:focus, .startValue:focus, .endValue:focus {
    
} */

/* input validation */

body {
  margin: 0;
}

form {
  color: white;
}

#input {
  display: flex;
  gap: 30%;
  align-items: center;
}

input {
    background-color: var(--background-color2);
}

.submit {
  padding: 10px 30px;
  background-color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
  border-radius: 5px;
  color: white;
  transition: 0.5s all;
  margin: 10px auto;
}

.submit:hover {
  background-color: rgb(0, 37, 88);
}

.submit:active {

  scale: 0.9;
  background-color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: var(--text-color-normalbg);
}
  
td, th {
    border: 1px solid var(--border);
    text-align: left;
    padding: 8px;
}

tr {
    background-color: var(--background-color);
}

.darker > td {
    background-color: var(--darkblue-color);
}

td:nth-child(3) {
    text-align: center;
    color: grey;
}

td:nth-child(5) {
    text-align: center;
    color: grey;
}

tr:nth-child(2) {
    background-color: var(--darkblue-color);
}

tr:nth-child(6) {
    background-color: var(--darkblue-color);
}

tr:nth-child(9) {
    background-color: var(--darkblue-color);
}

h1 {
    color: white;
}

.top {
    background-color: var(--darkblue-color);
    padding: 0% 200px;
    margin: 0;
}

.bottom {
    padding: 2% 200px;
    margin: 0;
    background-color: var(--background-color2);
}

  td:nth-child(2), th:nth-child(2),
  td:nth-child(4), th:nth-child(4),
  td:nth-child(6), th:nth-child(6) {
  text-align: right;
}

.footer {
    display: flex;
    background-color: rgb(45, 61, 103);
    height: 70px;
    color: rgb(203, 203, 203);
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

@media all and (max-device-width: 1000px) {
        /* NAVBAR */ 
    .dropdownimg {
        filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(334deg) brightness(105%) contrast(101%);
        transition: 0.2s all;
    }

    .dropdowncontent {
        display: none;
        opacity: 0;
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        top: 35px;
        background-color: rgb(45, 61, 103);
        padding-top: 10px;
        transition: 0.2s all;
    }

    .dropdown:hover .dropdowncontent {display: flex; opacity: 1;}

    .dropdowncontent a {
        display: block;
        margin: 5px 0;
    }

    .navbar {
        display: flex;
        gap: 2%;
        padding: 20px 0 13px;
        font-size: 12px;
    }

    .push {
        margin-right: auto;
        color: white;
    }

    ul, li, a {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li, a {
        text-decoration: none;
        color: white;
        transition: 0.2s all;
    }

    a:hover {
        /*color: rgb(178, 178, 178);*/
        filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(285deg) brightness(88%) contrast(91%);
    }

    a:focus {
        color: rgb(123, 123, 123);
    }

    .divCCPG {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .CCPGLogo {
        width: 70%;
        border-radius: 3%;
        object-fit: contain;
        transition: 0.2s all;
        padding-bottom: 0;
    }

    .CCPGLogo:hover {
        scale: 1.07;
    }

    /* NAVBAR */

    body {
    margin: 0;
    }

    form {
    color: white;
    }

    #input {
    display: flex;
    flex-direction: column;
    gap: 30%;
    align-items: center;
    }

    .submit {
    padding: 10px 30px;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    border-radius: 5px;
    color: white;
    transition: 0.5s all;
    margin: 10px auto;
    }

    .submit:hover {
    background-color: rgb(0, 37, 88);
    }

    .submit:active {

    padding: 9px 29px;
    margin: 9px auto;
    background-color: white;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 2vw;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr {
        background-color: var(--background-color);
    }

    h1 {
        color: white;
    }

    .top {
        background-color: rgb(45, 61, 103);
        padding: 0% 50px;
        margin: 0;
    }

    .bottom {
        padding: 2% 50px;
        margin: 0;
    }

    td:nth-child(2), th:nth-child(2),
    td:nth-child(4), th:nth-child(4),
    td:nth-child(6), th:nth-child(6) {
    text-align: right;
    }

    .footer {
        display: flex;
        background-color: rgb(45, 61, 103);
        height: 70px;
    }
}