* {
    transition: 0.2s all;
}

:root.light {
    --darkblue-color: rgb(45, 61, 103);
    --text-color-darkbg: white;
    --text-color-normalbg: black;
    --background-color: white;
    --background-color2: rgb(231, 231, 231);
    --quote-text: rgb(90, 90, 90);
    --quote-ref: rgb(66, 66, 66);
    --filter-svg: invert(4%) sepia(8%) saturate(264%) hue-rotate(314deg) brightness(97%) contrast(91%);
    --page-width: clamp();
}

:root.dark {
    --darkblue-color: rgb(45, 61, 103);
    --text-color-darkbg: white;
    --text-color-normalbg: white;
    --background-color: rgb(49, 49, 49);
    --background-color2: rgb(78, 78, 78);
    --quote-text: rgb(220, 220, 220);
    --quote-ref: rgb(194, 194, 194);
    --filter-svg: invert(100%) sepia(31%) saturate(138%) hue-rotate(192deg) brightness(111%) contrast(80%);
}

.theme {
    transition: all 0.2s;
    position: fixed;
    bottom: 10px;
    left: 10px;
    scale: 0.6;
    filter: var(--filter-svg);
}

.theme:hover {
    cursor: pointer;
    scale: 0.7;
}

.theme:active {
    scale: 0.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--background-color);;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 61, 103);
    padding: 0 clamp(20px, 15vw, 600px) 0;
    min-height: 60vh;
}

ul, li, a {
    list-style: none;
    margin: 0;
    padding: 0;
}

li, a {
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

a:hover {
    color: rgb(178, 178, 178);
}

a:focus {
    color: rgb(123, 123, 123);
}

.navbar {
    display: flex;
    gap: 2%;
    padding: 20px 0 13px;
    position: sticky;
    top: 0px;
    background-color: var(--darkblue-color);
    z-index: 1;
}

.push {
    margin-right: auto;
    color: white;
}

.dropdownimg {
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(334deg) brightness(105%) contrast(101%);
    transition: 0.2s all;
}

.dropdowncontent {
    display: none;
    opacity: 0;
    /* display: flex; */
    flex-direction: column;
    position: absolute;
    top: 35px;
    background-color: var(--darkblue-color);
    padding-top: 10px;
    transition: 0.2s all;
}

.dropdown:hover .dropdowncontent {
    display: flex; 
    opacity: 1;
}

/* .dropdownbtn .dropdowncontent:hover {
    color: rgb(178, 178, 178)
} */

.dropdowncontent a {
    display: block;
    margin: 5px 0;
}

.CCPGLogo {
    width: 30%;
    border-radius: 3%;
    object-fit: contain;
    transition: 0.2s all;
}

.CCPGLogo:hover {
    scale: 1.07;
}

.intro {
    display: flex;
    gap: 15%;
    color: white;
    align-items: center;
    height: 100%;
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.signup {
    padding: 10px 30px;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    border-radius: 5px;
    color: white;
    transition: 0.5s all;
    margin: 10px auto;
}

.signup:hover {
    background-color: rgb(0, 37, 88);
    cursor: pointer;
}

.signup:active {
    background-color: rgb(0, 22, 52);
    padding: 9px 29px;
    margin: 9px auto;
    opacity: 0;
}

.body1 {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-normalbg);
    background-color: var(--background-color);
}

h2 {
    padding-bottom: 30px;
    font-size: 30px;
}

.four {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.stuart {
    width: 96.8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.ben {
    width: 100%;
    border-radius: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.thomas {
    width: 100%;
    border-radius: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.box {
    height: 15vw;
    width: 15vw;
    border: 3px solid var(--darkblue-color);
    border-radius: 5px;
    overflow: hidden;
}

.listed {
    transition: 0.2s all;
}

.listed:hover {
    scale: 1.07;
    
}

.ubox {
    color: var(--text-color-normalbg);
    text-align: center;
    width: 15vw;
    margin: 10px 0;
}

.body2 {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color2);
    padding: 100px 200px;
}

.quote {
    font-size: 35px;
    color: var(--quote-text);
}

.thor {
    margin-left: auto;
    color: var(--quote-ref);
}

.body3 {
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    padding: 60px 180px;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    border-radius: 5px;
}

.left {
    color: white;
}

.signup2 {
    padding: 10px 30px;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    transition: 0.2s all;
    margin: 0 0;
}

.signup2:hover {
    background-color: rgb(0, 37, 88);
    cursor: pointer;
}

.signup2:active {
    background-color: rgb(0, 22, 52);
    padding: 9px 29px;
    margin: 1px 1px;
}

.footer {
    display: flex;
    background-color: var(--darkblue-color);
    height: 70px;
    color: rgb(203, 203, 203);
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.divsign {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input, .input2 {
    width: 60%;
    border-radius: 3px;
    border: 1px solid white;
    transition: opacity 0.8s;
    opacity: 0;
}

.enter {
    transition: 1s all;
    opacity: 0;
    padding: 10px 20px;
    margin: 0 auto 0 0;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    border-radius: 5px;
    color: white;
    transition: 0.2s all;
}

.enter:hover {
    background-color: rgb(0, 37, 88);
    cursor: pointer;
}

.enter:active {
    background-color: rgb(0, 22, 52);
    margin: 1px auto 1px 1px;
    padding: 9px 19px;
}

@media all and (max-device-width: 1000px) { 

    .header {
        padding: 20px 50px 20px;
    }

    .navbar {
        font-size: 12px;
    } 
    
    .CCPGLogo {
        width: 70%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        margin: 48px 0;
    }

    h1 {
        font-size: 30px;
    }

    .subtext {
        font-size: 13px;
    }
    
    .signup {
        padding: 10px 30px;
        border-radius: 5px;
        transition: 0.5s all;
        margin: 20% auto;
    }
    
    .signup:active {
        padding: 9px 29px;
        margin: 9px auto;
        opacity: 0;
    }
    
    .body1 {
        display: flex;
        flex-direction: column;
        padding: 50px 50px;
        align-items: center;
        justify-content: space-between;
    }
    
    h2 {
        padding-bottom: 30px;
        font-size: 30px;
    }
    
    .four {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-around;
    }
    
    .stuart {
        width: 96.8%;
        border-radius: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
    
    .ben {
        width: 100%;
        border-radius: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
    
    .thomas {
        width: 100%;
        border-radius: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
    
    .box {
        height: 200px;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .ubox {
        text-align: center;
        width: 200px;
        margin: 10px 0;
    }
    
    .body2 {
        display: flex;
        flex-direction: column;
        padding: 100px 50px;
    }
    
    .quote {
        font-size: 35px;
    }
    
    .thor {
        margin-left: auto;
    }
    
    .body3 {
        display: flex;
        justify-content: space-between;
        margin: 50px 5%;
        padding: 60px 10%;
        background-color: rgb(0, 102, 255);
        border: 1px solid rgb(0, 102, 255);
        border-radius: 5px;
        gap: 10px;
    }
    
    .left {
        font-size: 12px;
    }
    
    .signup2 {
        padding: 5px 10px;
        background-color: rgb(0, 102, 255);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        transition: 0.2s all;
        margin: 0 0;
    }
    
    .signup2:hover {
        background-color: rgb(0, 37, 88);
        cursor: pointer;
    }
    
    .signup2:active {
        background-color: rgb(0, 22, 52);
        padding: 9px 29px;
        margin: 1px 1px;
    }
    
    .footer {
        display: flex;
        height: 70px;
    }
    
    .divsign {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .input, .input2 {
        width: 60%;
        border-radius: 3px;
        opacity: 0;
    }
    
    .enter {
        transition: 1s all;
        opacity: 0;
        padding: 10px 20px;
        margin: 0 auto 0 0;
        border-radius: 5px;
        transition: 0.2s all;
    }

    .enter:active {
        margin: 1px auto 1px 1px;
        padding: 9px 19px;
    }

}
